@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

.titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: black;
  font-size: 2rem;
  animation: tit 1.5s ease-in;
}

@keyframes tit {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.cuerpoTexto {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
  animation: tit 2s ease-in;
}

.alineacion {
  text-align: center;
}

.alineacion .titulo {
  margin-bottom: 15px;
}

.alineacion p {
  padding: 0px 150px;
}

.button {
  border-radius: 5px;
  border-color: black;
  background-color: white;
  font-size: 1rem;
  padding: 10px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

ul {
  list-style: none;
}

.contenedorImg {
  width: 100%;
  height: 100vh;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedorPadreAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../img/Fondoformulario.png");
  background-size: cover;
  background-position: center;
}
.contenedorPadreAbout .fondoAbout {
  max-width: 800px;
  text-align: center;
}
.contenedorPadreAbout .fondoAbout .about {
  color: white;
}

header li {
  margin: 0px 40px;
}
header nav {
  padding: 1rem 6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .styleFonts {
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  padding: 1rem 1rem;
  text-align: center;
}
header .logo {
  padding: 1rem 6rem;
  cursor: pointer;
}

main .contenedorPadre {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}
main .contenedorPadre .contenedorHijo {
  width: 50%;
}
main .contenedorPadre .contenedorHijo .agusDos {
  max-width: 100%;
  height: auto;
}
main .contenedorPadre .contenedorHijo .marcelaUno {
  max-width: 100%;
  height: auto;
}
main .contenedorPadre .contenedorHijo .alineacion {
  text-align: center;
}
main .contenedorPadreAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../img/Fondoformulario.png");
  background-size: cover;
  background-position: center;
}
main .contenedorPadreAbout .fondoAbout {
  max-width: 800px;
  text-align: center;
}
main .contenedorPadreAbout .fondoAbout .about {
  color: white;
}

.footer {
  text-align: center;
  margin: 80px;
}
.footer .futureFooter {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2rem;
}
.footer .directionFooter {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.contenedorPadreHair {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.contenedorPadreHair .contenedorHijoHairUno {
  flex: 40%;
}
.contenedorPadreHair .contenedorHijoHairUno .imagenUno {
  width: 100%;
  height: auto;
}
.contenedorPadreHair .contenedorHijoHairDos {
  flex: 60%;
  text-align: center;
}

.contenedorPadreServicios {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../img/Fondoformulario.png");
  background-size: cover;
  background-position: center;
}
.contenedorPadreServicios .contenedorHijoServicios .titulo {
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}
.contenedorPadreServicios .contenedorHijoServicios .servicios {
  color: white;
  text-align: center;
}

.contenedorPadreAbout .fondoAbout form {
  text-align: center;
  margin: 40px 74px;
}
.contenedorPadreAbout .fondoAbout form label {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 9px;
}
.contenedorPadreAbout .fondoAbout form .botonFormulario {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 10px;
  border-radius: 4px;
  background-color: black;
  border-color: white;
  margin-top: 1rem;
  text-transform: uppercase;
  color: white;
}
.contenedorPadreAbout .fondoAbout form .campos {
  display: block;
  width: 25rem;
  margin-bottom: 10px;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
}
.contenedorPadreAbout .fondoAbout form .email {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  display: flex;
  align-self: self-start;
}

.contenedorPadreContacto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 10rem;
}
.contenedorPadreContacto .contenedorHijoContacto {
  padding-top: 3rem;
}
.contenedorPadreContacto .mapaContainer {
  width: 30rem;
  height: 30rem;
}
.contenedorPadreContacto .mapaContainer .map {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
}

@media only screen and (max-width: 320px) {
  header .logo {
    cursor: pointer;
    padding: 1rem 1rem;
  }
  main .contenedorPadre {
    flex-direction: column;
    width: 100%;
  }
  main .contenedorPadre .alineacion {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  main .contenedorPadre .contenedorHijo {
    flex: 100%;
    width: 100%;
  }
  main .contenedorPadreAbout {
    height: auto;
  }
  main .contenedorPadreAbout .fondoAbout {
    max-width: 800px;
    text-align: center;
  }
  main .contenedorPadreAbout .fondoAbout .about {
    color: white;
  }
  main .contenedorPadreAbout .alineacion {
    margin: 3rem 2rem;
  }
  .alineacion p {
    padding: 1rem 2rem;
    margin: 0rem;
  }
  .alineacion .titulo {
    margin: 0rem 2rem;
  }
  .button {
    border-radius: 3px;
    font-size: 0.7rem;
    padding: 10px;
  }
  .titulo {
    font-size: 1.5rem;
  }
  .cuerpoTexto {
    font-size: 0.8rem;
  }
  .footer {
    text-align: center;
    margin: 80px;
  }
  .footer .futureFooter {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 2rem;
  }
  .footer .directionFooter {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }
  .footer {
    height: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer .futureFooter {
    font-size: 1rem;
  }
  .footer .directionFooter {
    font-size: 0.7rem;
  }
  .contenedorPadreHair {
    flex-direction: column;
    height: auto;
  }
  .contenedorPadreHair .alineacion {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .contenedorPadreHair .contenedorHijoHairUno {
    flex: 100%;
  }
  .contenedorPadreHair .contenedorHijoHairUno .imagenUno {
    max-width: 100%;
    height: auto;
  }
  .contenedorPadreHair .contenedorHijoHairDos {
    flex: 100%;
  }
  .contenedorPadreServicios {
    min-height: 60vh;
  }
  .contenedorPadreServicios .contenedorHijoServicios .titulo {
    text-align: center;
    color: white;
    margin-bottom: 2rem;
  }
  .contenedorPadreServicios .contenedorHijoServicios .servicios {
    color: white;
    text-align: center;
  }
  .contenedorImg {
    height: auto;
  }
  .contenedorPadreAbout {
    height: 70vh;
  }
  .contenedorPadreAbout .fondoAbout form .campos {
    width: 15rem;
  }
  .contenedorPadreContacto {
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }
  .contenedorPadreContacto .contenedorHijoContacto {
    padding: 2rem;
  }
  .contenedorPadreContacto .mapaContainer {
    width: 100%;
    height: 15rem;
  }
  .contenedorPadreContacto .mapaContainer .map {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
  }
  .contenedorPadreAbout {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contenedorPadreAbout .fondoAbout {
    max-height: 50vh;
  }
  .contenedorPadreAbout .fondoAbout form {
    margin: 20px;
  }
  .contenedorPadreAbout .fondoAbout form label {
    margin-bottom: 6px;
  }
  .contenedorPadreAbout .fondoAbout form .botonFormulario {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    padding: 10px;
    border-radius: 4px;
    background-color: black;
    border-color: white;
    margin-top: 1rem;
    text-transform: uppercase;
    color: white;
  }
  .contenedorPadreAbout .fondoAbout form .textarea {
    height: 100px;
    margin-top: 1rem;
  }
}

/*# sourceMappingURL=estilo.css.map */
