.footer {
	text-align: center;
	margin: 80px;
	.futureFooter {
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-weight: 800;
		font-size: 2rem;
	}
	.directionFooter {
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 1rem;
	}
}